.submit-data {
    font-family: AS;
    text-align: left;
    font-size: 2em;
    padding: 10px;
    margin-bottom: 10%;
    background: white;
    box-shadow: 0px 0px 60px rgba(122,122,122,0.3);
}
.file-upload {
	font-size: 1.5em;
	font-family: Verdana;
}
.data-block {
	background: white;
	box-shadow: 0px 0px 60px rgba(122,122,122,0.3);
}
.exampleImg {
	width: 275px;
}
.footer-mock {
    height: 56px;
}