@{
    ViewBag.Title = "Rocketmon | Launch";
}
<style type="text/css">
    @@font-face {
        font-family: AS;
        src: url(/app/../fonts/adv.ttf);
    }
    .coming-soon {
        font-family: AS;
        font-size: 3em;
        color: orange;
        margin: 10px;
        text-align: center;
    }
    .btn {
        font-family: AS;
        font-size: 3em;
        background: orange;
        padding: 5px;
        color: white;
        text-align: center;
    }
</style>

<h1 class="coming-soon">Connect to the WiFi network "Rocketmon-WiFi-XXXXXX"</h1>
<a class="btn col-lg-2 col-lg-offset-5 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12" href="http://192.168.4.1">I'm ready!</a>