.navbar-brand {
    font-size: 4em;
    margin-top: 10px;
}

@media (max-width: 500px) { /* screen size until 500px */
    .navbar-brand {
        font-size: 2.5em;
    }
}

.tabs {
    margin-top: 25px;
    text-align: right;
}
.tab {
    font-size: 2em;
    margin-left: 10px;
}
.text {
    font-family: AS;
    color: white;
}
.navbar {
	background: orange;
}
.dropdown-toggle {
    background: orange;
    border: none;
}
.car-arrow {
}
.dropdown-menu {
    left: -100%;
}